/* колір основного тексту  #212121 */

/* вторичний колір тексту  #757575 */

/* білий колір тексту  #FFFFFF */

/*  акцент  #2196F3 */

/* колір основного фону  #FFFFFF */

/* вторичний колір фону  #2F303A */

/*  фон кнопки фильтра #F5F4FA; */

:root {
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --third-text-color: #FFFFFF99;   

    --primary-fone-color: #FFFFFF;
    --secondary-fone-color: #2F303A;
    --accent-color: #2196F3;
    
    --filter-button-fone: #F5F4FA;
}

body {
    color: var(--primary-text-color);
    background-color: var(--primary-fone-color);

    font-family: Roboto, sans-serif;
}


.list { list-style: none; }

.logo { 
    color: var(--primary-text-color);
    text-decoration: none;    
}

.font-logo {
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
}

.logo-accent { color: var(--accent-color); }

.site-nav a {
    color: var(--primary-text-color);
    text-decoration: none;
}

.site-nav .current,
.site-nav a:hover,
.site-nav a:focus {
    color: var(--accent-color);
}

.contact-nav a {
    color: var(--secondary-text-color);
    text-decoration: none;
}

.contact-nav a:hover,
.contact-nav a:focus {
    color: var(--accent-color);
}

.herro {    
    background-color: var(--secondary-fone-color);
    text-align: center;
}

.herro .herro-title {
    color: var(--primary-fone-color);
    font-weight: 900;
    font-size: 44px;
}

.herro .herro-button {
    color: var(--primary-fone-color);
    background-color: var(--accent-color);
    border-color: transparent;
    border-radius: 4px;
}

/* .section-title {}
.features {}
.features-list {} */

.title {
    text-align: center;
    font-weight: 700;
    font-size: 36px;
}

.features-list .text { color: var(--secondary-text-color); }

/* .engage .title {}
.engage-list {}
.team {} */


.footer { background-color: var(--secondary-fone-color); }

.footer .prime-color { color: var(--primary-fone-color); }

.footer .prime-color { color: var(--primary-fone-color); }

.footer .third-color { color: var(--third-text-color); }

.footer a { text-decoration: none; }

/* portfolio */

.filter .filter-button {
    color: var(--primary-text-color);
    background-color: var(--filter-button-fone);
    border-color: transparent;
    border-radius: 4px;
}

.project .project-text { color: var(--secondary-text-color); }