/* колір основного тексту  #212121 */

/* вторичний колір тексту  #757575 */

/* білий колір тексту  #FFFFFF */

/*  акцент  #2196F3 */

/* колір основного фону  #FFFFFF */

/* вторичний колір фону  #2F303A */

/*  фон кнопки фильтра #F5F4FA; */

:root {
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --third-text-color: #FFFFFF99;   

    --primary-fone-color: #FFFFFF;
    --secondary-fone-color: #2F303A;
    --accent-color: #2196F3;
    
    --filter-button-fone: #F5F4FA;
}

body {
    color: var(--primary-text-color);
    background-color: var(--primary-fone-color);

    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
}

.list { list-style: none; }

.logo { 
    color: var(--primary-text-color);
    text-decoration: none;    
}

.font-logo {
    font-family: Raleway, sans-serif;    
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;    
}

.logo-accent { color: var(--accent-color); }

.site-nav a {
    color: var(--primary-text-color);
    text-decoration: none;
    
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14em;
    letter-spacing: 0.02;
}

.site-nav .current,
.site-nav a:hover,
.site-nav a:focus {
    color: var(--accent-color);
}

.contact-nav a {
    color: var(--secondary-text-color);
    text-decoration: none;    
    
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.contact-nav a:hover,
.contact-nav a:focus {
    color: var(--accent-color);
}

.herro {    
    background-color: var(--secondary-fone-color);
    text-align: center;
}

.herro .herro-title {
    color: var(--primary-fone-color);
    
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;     

    text-align: center;    
    text-transform: uppercase;    
    letter-spacing: 0.06em;
}

.herro .herro-button {
    color: var(--primary-fone-color);
    background-color: var(--accent-color);
    border-color: transparent;
    border-radius: 4px;
    
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;        
    
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;

    cursor: pointer;
}

.features-title {    
    font-size: 14px;
    line-height: 1.14;
    
    text-transform: uppercase;
}

.features-text { 
    font-size: 14px;
    line-height: 1.71;    
}

.features-list .text { color: var(--secondary-text-color); }

/* engage, team */
.title {
    font-size: 36px;
    line-height: 1.17;   
}

/* team */
.team-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;    
}

.team-description {
    font-size: 16px;
    line-height: 1.19;    
}

.footer { background-color: var(--secondary-fone-color); }

.footer .prime-color { color: var(--primary-fone-color); }

.footer .third-color { color: var(--third-text-color); }

.footer .third-color:hover,
.footer .third-color:focus {
    color: var(--accent-color);
}

.footer .adds {
    font-size: 14px;
    line-height: 1.71;
    font-style: normal;
}

.footer a { text-decoration: none; }

/* portfolio */

.filter .filter-button {
    color: var(--primary-text-color);
    background-color: var(--filter-button-fone);
    border-color: transparent;
    border-radius: 4px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;

    text-align: center;
    cursor: pointer;
}

.project .project-title {    
    font-size: 18px;
    line-height: 2;    
    letter-spacing: 0.06em;
}

.project .project-text { 
    color: var(--secondary-text-color);

    font-size: 16px;
    line-height: 1.88;
}