html { box-sizing: border-box; }

*,
*::before,
*::after {
    box-sizing: inherit;
}

:root {
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --third-text-color: #ffffff99;

    --primary-bg-color: #ffffff;
    --secondary-bg-color: #2f303a;
    --third-bg-color: #f5f4fa;

    --accent-color: #2196f3;
}

body {
    margin: 0;
    color: var(--primary-text-color);
    background-color: var(--primary-bg-color);

    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.header {
    padding-top: 24px;
    padding-bottom: 25px;
    border-bottom: 1px solid #ececec;
}

.list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.flex {
    display: flex;
    align-items: center;
}

.card { margin: 0; }

.logo {
    margin-right: 93px;
    color: var(--primary-text-color);
    text-decoration: none;
}

.font-logo {
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}

.logo-accent { color: var(--accent-color); }

.main-nav {
    display: flex;
    align-items: center;
}

.site-nav {
    margin-right: 304px;
    display: flex;
}

.site-nav .item { margin-right: 50px; }

.site-nav .item:last-child { margin-right: 0; }

.site-nav a {
    position: relative;
    display: block;
    color: var(--primary-text-color);
    text-decoration: none;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14em;
    letter-spacing: 0.02;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav a.current::after {
    position: absolute;
    left: 0;
    top: 46px;
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
}

.site-nav .current,
.site-nav a:hover,
.site-nav a:focus {
    color: var(--accent-color);
}

.contact-nav {
    display: flex;
}

.contact-nav li:first-child {
    margin-right: 30px;
}

.contact-nav a {
    display: inline-flex;
    color: var(--secondary-text-color);
    fill: currentColor;
    text-decoration: none;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    transition-property: color, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-nav a:hover,
.contact-nav a:focus {
    color: var(--accent-color);
    fill: var(--accent-color);
}

.envelope-icon,
.smartphone-icon {
    margin: auto 10px auto 0;
}

/* herro */

.herro {
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
}

.overlay {
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(
            to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
        ),
        url("../images/hero.jpg"),
        linear-gradient(
            to right,
            rgba(196, 196, 196, 1),
            rgba(196, 196, 196, 1)
        );
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.herro .herro-title {
    margin-top: 0px;
    margin-bottom: 30px;

    color: var(--primary-bg-color);

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;

    text-transform: uppercase;
    letter-spacing: 0.06em;
}

.herro .herro-button {
    display: inline-block;
    padding: 10px 32px;
    min-width: 200px;
    border-radius: 4px;
    border: 0;

    color: var(--primary-bg-color);
    background-color: var(--accent-color);
    border-color: transparent;

    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;

    align-items: center;
    letter-spacing: 0.06em;

    transition-property: color, background-color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.herro .herro-button:hover,
.herro .herro-button:focus {
    color: var(--accent-color);
    background-color: var(--primary-bg-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

/* modal */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.2);

    transition: opacity 600ms cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 1;
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 528px;
    height: 581px;    
    background-color: var(--primary-bg-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;    
}

/* form */

/* close icon */
.icon-close {    
    fill: var(--primary-bg-color);
    stroke: var(--primary-text-color);
    position: absolute;
    top: 8px;
    right: 8px;
    transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-close:hover {
    stroke: var(--accent-color);  
    cursor: pointer;    
}

.form { padding: 40px; }

.form-title {
    margin: 0 0 12px;    
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
}

.form .form-field {    
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;    
}

.form .form-field label {    
    text-align: left;
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;

    color: var(--secondary-text-color);
}

.form .form-field input {
    padding: 11px 0 11px 42px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    outline: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form .form-field .icon {
    position: absolute;
    top: 50%;
    left: 12px;
    pointer-events: none;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form .form-input:hover {     
    border-color: var(--accent-color); 
    cursor: pointer;    
}

.form .form-input:focus { 
    border-color: var(--accent-color);     
}

.form-input:hover + .icon,
.form-input:focus + .icon {    
    fill: var(--accent-color);    
}


.form-field textarea {  
    margin-bottom: 10px;  
    padding: 12px 16px;
    resize: none;

    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.01em;

    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;  
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);  
}

.form .form-field textarea::placeholder {    
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);    
}

.form-field textarea:hover,
.form-field textarea:focus {
    border-color: var(--accent-color);
    outline: none;
}

.form .checkbox {    
    position: relative;    
    margin-bottom: 30px;
    display: block;    
}

.checkbox-label {    
    font-size: 14px;
    line-height: 1.71;
    padding-left: 20px;
    color: var(--secondary-text-color);
}

.checkbox-label:hover { cursor: pointer; }

.checkbox-label a {
    text-decoration: none;
    border-bottom: 1px solid var(--accent-color);
    color: var(--accent-color);   
}

.checkbox-input,
.checkbox-input:focus {
    appearance: none;    
    /* opacity: 0;     */
}

.checkbox-icon {
    position: absolute;
    top: 4px;
    left: 14px;
    
    width: 16px;
    height: 15px;
    border: 2px solid var(--primary-text-color);
    border-radius: 2px;

    
    pointer-events: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-input:checked + .checkbox-icon {    
    border-color: var(--accent-color);
    background-color: var(--accent-color);    
}

.icon-check {   
    position: absolute;
    top: -2px;
    left: -2px;    
    /* background-size: contain;
    background-origin: border-box; */

}

.form-button {    
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    
    letter-spacing: 0.06em;

    color: var(--primary-bg-color);

    padding: 10px 55px;

    background: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: 0;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-button:hover {
    background-color: #188CE8;
    cursor: pointer;
}

/* features,  team */

.features-list,
.team .list {
    display: flex;
}

.features-list .item,
.team .list .item {
    width: 270px;
    margin-right: 30px;
}

.features-list .item:last-child,
.team .list .item:last-child {
    margin-right: 0;
}

/* features*/

.features { padding-bottom: 0; }

.features-icon { margin-bottom: 30px; }

.features-title {
    margin-top: 0px;
    margin-bottom: 10px;

    font-size: 14px;
    line-height: 1.14;

    text-transform: uppercase;
}

.features-text {
    margin-top: 0px;
    margin-bottom: 0px;

    color: var(--secondary-text-color);
    font-size: 14px;
    line-height: 1.71;
}

/* engage, team */
.title {
    margin-top: 0px;
    margin-bottom: 50px;

    font-size: 36px;
    line-height: 1.17;

    text-align: center;
}

/* engage */
 
.engage .list { display: flex;}

.engage .list .item {
    width: 370px;
    margin-right: 30px;
}

.engage .list .item:last-child { margin-right: 0; }

.engage .item { position: relative; }

.engage img { display: block; }

.engage-overley {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 70px;

    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primary-bg-color);
    background: rgba(47, 48, 58, 0.8);
}

.engage-overley p {
    margin: 0;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.6;
    text-transform: uppercase;
}

/* team */
.team { background-color: var(--third-bg-color); }

.team .card {
    padding-bottom: 30px;
    text-align: center;
    background-color: var(--primary-bg-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team .card > img { margin-bottom: 30px; }

.team-name {
    margin: 0 0 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
}

.team-description {
    margin: 0px;
    margin-bottom: 16px;
    color: var(--secondary-text-color);
    font-size: 16px;
    line-height: 1.19;
}

.social {
    margin: 0;
    padding: 0;
    justify-content: center;
}

.social li { margin-right: 10px; }

.social li:last-child { margin-right: 0; }

.social svg { display: block; }

.social a {
    display: block;
    fill: #afb1b8;

    border-radius: 50%;

    transition-property: fill, background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social a:hover,
.social a:focus {
    fill: var(--primary-bg-color);
    background-color: var(--accent-color);
}

/* clients */

.client .list {
    display: flex;
    justify-content: center;
}

.client .item { margin-right: 30px; }

.client .item:last-child { margin-right: 0; }

.client .item svg { display: block; }

.client .item a {
    display: block;
    fill: #afb1b8;
    border: 1px solid #afb1b8;
    border-radius: 4px;

    transition-property: fill, border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.client .item a:hover,
.client .item a:focus {
    fill: var(--accent-color);
    border-color: var(--accent-color);
}

/* footer */

.footer {    
    padding-top: 0;
    padding-bottom: 60px;
    background-color: var(--secondary-bg-color);
}

.footer .container.flex {
    display: flex;
    align-items: flex-start;
}

.footer .prime-color { color: var(--primary-bg-color); }

.footer .third-color {
    color: var(--third-text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer .third-color:hover,
.footer .third-color:focus {
    color: var(--accent-color);
}

.footer-address {
    padding-top: 60px;
    margin-right: 70px;
}

.footer .margin-logo { margin-bottom: 20px; }

.footer .adds {
    font-size: 14px;
    line-height: 1.71;
    font-style: normal;
}

.footer .adds > p {
    margin-top: 0px;
    margin-bottom: 9px;
}

.footer a { text-decoration: none; }

.footer .mail { margin-bottom: 9px; }

.footer-social {
    padding-top: 72px;
    margin-right: 93px;    
}

.footer .title {
    text-align: left;
    color: var(--primary-bg-color);
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

.footer .social svg {
    fill: var(--primary-bg-color);
    background-color: #ffffff1a;
    border-radius: 50%;
}

.footer .social svg:hover,
.footer .social svg:focus {
    background-color: var(--accent-color);
}

.footer-form { padding-top: 72px; }

.footer .title {
    margin-top: 0px;
    margin-bottom: 20px;

    font-size: 14px;
    line-height: 1.14;

    text-transform: uppercase;
    color: var(--primary-bg-color);
}

.footer .form-field { display: flex; }

.footer-input {
    margin-right: 12px;
    padding: 15px 158px 15px 16px;
    background-color: inherit;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);    
   
    border-radius: 4px; 
    color: var(--primary-bg-color);
    font-size: 16px;
    line-height: 1.25;    
}

.footer-input::placeholder { color: rgba(255, 255, 255, 0.6); }

.footer .form-button {     
    text-align: center;    
    padding: 10px 28px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
}

.icon-send { 
    vertical-align: middle;
    margin-left: 5px;
 }



/* portfolio */

.filter .list {
    display: flex;
    justify-content: center;
}

.filter .list .item {
    min-width: 73px;
    margin-right: 8px;
}

.filter .list .item:last-child { margin-right: 0; }

.filter { margin-bottom: 50px; }

.filter .filter-button {
    display: inline-block;
    padding: 6px 22px;
    min-width: 73px;
    border: 0;
    border-radius: 4px;

    color: var(--primary-text-color);
    background-color: var(--third-bg-color);
    border-color: transparent;

    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    letter-spacing: 0.03em;
    text-align: center;

    transition-property: color, background-color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.filter .filter-button:hover,
.filter .filter-button:focus {
    color: var(--third-bg-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);

    cursor: pointer;
}

/* project */

.project {
    display: flex;
    flex-wrap: wrap;
}

.project a {
    text-decoration: none;
    color: inherit;
}

.project .item {
    width: 370px;
    margin-right: 30px;
    margin-bottom: 30px;
    background-color: var(--primary-bg-color);
}

.project .item:nth-child(3n) { margin-right: 0; }

.project .card { transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1); }

.project .card:hover .project-overley { transform: translateY(0); }

.project .card:hover,
.project .card:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-thumb {
    position: relative;
    overflow: hidden;
}

.project-overley {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(100%);

    width: 100%;
    height: 100%;
    background: rgba(33, 150, 243, 0.9);

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-overley p {
    padding: 63px 24px;
    color: var(--primary-bg-color);
    font-size: 18px;
    line-height: 1.56;
}

.project img { display: block; }

.project figcaption {
    padding-top: 20px;
    padding-bottom: 20px;
    border: 1px #eeeeee;
    border-style: none solid solid solid;
}

.project .project-title {
    margin: 0;
    margin-bottom: 2px;
    padding-left: 24px;

    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.project .project-text {
    margin: 0;
    padding-left: 24px;
    color: var(--secondary-text-color);
    font-size: 16px;
    line-height: 1.87;
}
