html { box-sizing: border-box; }

*,
*::before,
*::after { box-sizing: inherit; }

:root {
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --third-text-color: #ffffff99;

    --primary-bg-color: #ffffff;
    --secondary-bg-color: #2f303a;
    --third-bg-color: #f5f4fa;

    --accent-color: #2196f3;
}

body {
    margin: 0;
    color: var(--primary-text-color);
    background-color: var(--primary-bg-color);

    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.block { display: block; }

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.flex {
    display: flex;
    align-items: center;
}


/* engage, team, client */
.title {
    margin-top: 0px;
    margin-bottom: 50px;

    font-size: 36px;
    line-height: 1.17;

    text-align: center;
}

/* header */
.header {
    padding-top: 24px;
    padding-bottom: 25px;
    border-bottom: 1px solid #ececec;
}

.logo {
    margin-right: 93px;
    color: var(--primary-text-color);
    text-decoration: none;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}

.logo--accent { color: var(--accent-color); }

.main-nav {
    display: flex;
    align-items: center;
}

.site-nav {
    margin-right: 304px;
    display: flex;
}

.site-nav__item { margin-right: 50px; }

.site-nav__item:last-child { margin-right: 0; }

.site-nav__link {
    position: relative;
    display: block;
    color: var(--primary-text-color);
    text-decoration: none;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14em;
    letter-spacing: 0.02;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__link--current::after {
    position: absolute;
    left: 0;
    top: 46px;
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
}

.site-nav__link--current,
.site-nav__link:hover,
.site-nav__link:focus { color: var(--accent-color); }


.contact-nav { display: flex; }

.contact-nav__item { margin-right: 30px; }

.contact-nav__link {
    display: inline-flex;
    color: var(--secondary-text-color);
    fill: currentColor;
    text-decoration: none;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    transition-property: color, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-nav__link:hover,
.contact-nav__link:focus {
    color: var(--accent-color);
    fill: var(--accent-color);
}

.contact-nav__icon { margin: auto 10px auto 0; }

/* herro */

.herro {
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
}

.herro--overlay {
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(
            to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
        ),
        url("../images/hero.jpg"),
        linear-gradient(
            to right,
            rgba(196, 196, 196, 1),
            rgba(196, 196, 196, 1)
        );
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.herro__title {
    margin-top: 0px;
    margin-bottom: 30px;

    color: var(--primary-bg-color);

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;

    text-transform: uppercase;
    letter-spacing: 0.06em;
}

.herro__button {
    display: inline-block;
    padding: 10px 32px;
    min-width: 200px;
    border-radius: 4px;
    border: 0;

    color: var(--primary-bg-color);
    background-color: var(--accent-color);
    border-color: transparent;

    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;

    align-items: center;
    letter-spacing: 0.06em;

    transition-property: color, background-color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.herro__button:hover,
.herro__button:focus {
    color: var(--accent-color);
    background-color: var(--primary-bg-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

/* modal */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.2);

    transition: opacity 600ms cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 1;
}

.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 528px;
    height: 581px;
    background-color: var(--primary-bg-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

/* form */

/* close icon */
.icon-close {
    fill: var(--primary-bg-color);
    stroke: var(--primary-text-color);
    position: absolute;
    top: 8px;
    right: 8px;
    transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-close:hover {
    stroke: var(--accent-color);
    cursor: pointer;
}

.form { padding: 40px; }

.form__title {
    margin: 0 0 12px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
}

.field {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.field__label {
    text-align: left;
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;

    color: var(--secondary-text-color);
}

.field__input {
    padding: 11px 0 11px 42px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    outline: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.field__icon {
    position: absolute;
    top: 50%;
    left: 12px;
    pointer-events: none;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.field__input:hover {
    border-color: var(--accent-color);
    cursor: pointer;
}

.field__input:focus { border-color: var(--accent-color); }

.field__input:hover + .field__icon,
.field__input:focus + .field__icon {
    fill: var(--accent-color);
}

.field__textarea {
    margin-bottom: 10px;
    padding: 12px 16px;
    resize: none;

    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.01em;

    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.field__textarea::placeholder {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
}

.field__textarea:hover,
.field__textarea:focus {
    border-color: var(--accent-color);
    outline: none;
}

.checkbox {
    position: relative;
    margin-bottom: 30px;
    padding-left: 5px;
    text-align: center;
}

.checkbox__label {
    font-size: 14px;
    line-height: 1.71;
    padding-left: 20px;
    color: var(--secondary-text-color);
}

.checkbox__label:hover { cursor: pointer; }

.checkbox__link {
    text-decoration: none;
    border-bottom: 1px solid var(--accent-color);
    color: var(--accent-color);
}

.checkbox__input,
.checkbox__input:focus {
    appearance: none;
}

.checkbox__icon {
    position: absolute;
    top: 4px;
    left: 11px;

    pointer-events: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox__input:checked + .checkbox__icon { background-color: var(--accent-color); }

.checkbox__input:not(:checked) + .checkbox__icon {
    border: 2px solid var(--primary-text-color);
    border-radius: 2px;
}

.form__button {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;

    letter-spacing: 0.06em;

    color: var(--primary-bg-color);

    padding: 10px 55px;

    background: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: 0;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-button:hover {
    background-color: #188ce8;
    cursor: pointer;
}

/* features,  team */

.features-set__list,
.team__list {
    display: flex;
}

.feature,
.team__item {
    width: 270px;
    margin-right: 30px;
}

.feature:last-child,
.team__item:last-child {
    margin-right: 0;
}

/* features*/

.features-set { padding-bottom: 0; }

.feature__icon { margin-bottom: 30px; }

.feature__title {
    margin-top: 0px;
    margin-bottom: 10px;

    font-size: 14px;
    line-height: 1.14;

    text-transform: uppercase;
}

.feature__text {
    margin-top: 0px;
    margin-bottom: 0px;

    color: var(--secondary-text-color);
    font-size: 14px;
    line-height: 1.71;
}


/* engage */

.engage { display: flex; }

.engage__item {
    position: relative;
    width: 370px;
    margin-right: 30px;
}

.engage__item:last-child { margin-right: 0; }

.engage__overley {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 70px;

    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primary-bg-color);
    background: rgba(47, 48, 58, 0.8);
}

.engage__text {
    margin: 0;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.6;
    text-transform: uppercase;
}

/* team */

.team { background-color: var(--third-bg-color); }

.team__card {
    margin: 0;
    padding-bottom: 30px;
    text-align: center;
    background-color: var(--primary-bg-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team__image { margin-bottom: 30px; }

.team__name {
    margin: 0 0 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
}

.team__description {
    margin: 0px;
    margin-bottom: 16px;
    color: var(--secondary-text-color);
    font-size: 16px;
    line-height: 1.19;
}

/* social */
.social {    
    display: flex;
    justify-content: center;
}

.social__icon { margin-right: 10px; }

.social__icon:last-child { margin-right: 0; }

.social__link {
    display: block;
    fill: #afb1b8;

    border-radius: 50%;

    transition-property: fill, background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social__link:hover,
.social__link:focus {
    fill: var(--primary-bg-color);
    background-color: var(--accent-color);
}

/* clients */

.client {
    display: flex;
    justify-content: center;
}

.client__item { margin-right: 30px; }

.client__item:last-child { margin-right: 0; }

.client__link {
    display: block;
    fill: #afb1b8;
    border: 1px solid #afb1b8;
    border-radius: 4px;

    transition-property: fill, border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.client__link:hover,
.client__link:focus {
    fill: var(--accent-color);
    border-color: var(--accent-color);
}

/* footer */

.footer {
    padding-top: 0;
    padding-bottom: 60px;
    background-color: var(--secondary-bg-color);
    
}

.footer__flex {
    display: flex;
    align-items: flex-start;
}

.footer-contact {
    padding-top: 60px;
    margin-right: 70px;
}

.footer__logo {
    margin: 0;    
    margin-bottom: 20px;
    color: var(--primary-bg-color);    
}

.footer-contact__data {
    font-size: 14px;
    line-height: 1.71;
    font-style: normal;
}

.footer-contact__text { 
    color: var(--primary-bg-color);
    margin-top: 0px;
    margin-bottom: 9px;
 }

.footer-contact__link {
    color: var(--third-text-color);
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-contact__link:hover,
.footer-contact__link:focus {
    color: var(--accent-color);
}

.footer-contact__mail { margin-bottom: 9px; }

.footer-social {
    padding-top: 72px;
    margin-right: 93px;
}

.footer__title {    
    color: var(--primary-bg-color);
    margin: 0 0 20px 0;    
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

.social__link--footer {
    fill: var(--primary-bg-color);
    background-color: #ffffff1a;    
}


.footer-form { padding-top: 72px; }

.footer-form__field { display: flex; }

.footer-form__input {
    margin-right: 12px;
    padding: 15px 158px 15px 16px;
    background-color: inherit;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    border-radius: 4px;
    color: var(--primary-bg-color);
    font-size: 16px;
    line-height: 1.25;
}

.footer-form__input::placeholder { color: rgba(255, 255, 255, 0.6); }

.footer-form__button {
    text-align: center;
    padding: 10px 28px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var(--primary-bg-color);
    background-color: var(--accent-color);    
}

.footer-form__button:hover {    
    background-color: #188ce8;
    cursor: pointer;
}

.footer-form__icon {
    vertical-align: middle;
    margin-left: 5px;
}


/* portfolio */

.filter { margin-bottom: 50px; }

.filter__list {
    display: flex;
    justify-content: center;
}

.filter__item {
    min-width: 73px;
    margin-right: 8px;
}

.filter__item:last-child { margin-right: 0; }

.filter__button {
    display: inline-block;
    padding: 6px 22px;
    min-width: 73px;
    border: 0;
    border-radius: 4px;

    color: var(--primary-text-color);
    background-color: var(--third-bg-color);
    border-color: transparent;

    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    letter-spacing: 0.03em;
    text-align: center;

    transition-property: color, background-color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.filter__button:hover,
.filter__button:focus {
    color: var(--third-bg-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);

    cursor: pointer;
}

/* project */

.card-set {
    display: flex;
    flex-wrap: wrap;
}

.card-set__link {
    text-decoration: none;
    color: inherit;
}

.card-set__item {
    /* width: 370px; */
    margin-right: 30px;
    margin-bottom: 30px;
    background-color: var(--primary-bg-color);
}

.card-set__item:nth-child(3n) { margin-right: 0; }

.project { 
    margin: 0;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.project:hover .project__overley { transform: translateY(0); }

.project:hover,
.project:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project__thumb {
    position: relative;
    overflow: hidden;
}

.project__overley {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(100%);

    width: 100%;
    height: 100%;
    background: rgba(33, 150, 243, 0.9);

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project__overley p {               /*   ?????????? */
    padding: 63px 24px;
    color: var(--primary-bg-color);
    font-size: 18px;
    line-height: 1.56;
}

.project__img { display: block; }    /*   ?????????? */

.project__label {
    padding-top: 20px;
    padding-bottom: 20px;
    border: 1px #eeeeee;
    border-style: none solid solid solid;
}

.project__title {
    margin: 0;
    margin-bottom: 2px;
    padding-left: 24px;

    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.project__text {
    margin: 0;
    padding-left: 24px;
    color: var(--secondary-text-color);
    font-size: 16px;
    line-height: 1.87;
}
